@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Josefin Sans'),
    url('./JosefinSans-Regular.ttf') format('truetype');
}

body {
  background-color: #d84c15;
  font-family: 'Josefin Sans';
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#robot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customOrange {
  color: #d84c15;
}

.teal {
  color: #9fd9da;
}

.bgTeal {
  background-color: #9fd9da;
}

.darkTeal {
  color: #0f5e65;
}

.bgDarkTeal {
  background-color: #0f5e65;
}

.bgHoverTeal:hover {
  background-color: #9fd9da;
}

.textarea {
  height: 100px;
}
